.calc-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    font-size: 25px;
    box-shadow: -5px 5px 15px 5px rgba(246, 247, 247, 0.2);
    overflow: hidden;
    width: 500px;
}

.col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.col__header {
    padding: 10px;
    background-color: blue;
    width: 100%;
}

.col__footer {
    padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.currency__input {
    all: unset;
    width: 90%;
    height: 80px;
    background: rgba(0,0,0,0.16);
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%) inset, 0 1px rgb(255 255 255 / 6%);
    border: 0 none;
    border-radius: 3px;
    color: #BBBBBB;
    /* transition: background .2s; */

}